/* CUSTOM PROPS */
:root {
  --text-color: #333;
  --accent-color-green: #0a775f;
  --outline-color: var(--accent-color-green);
}

/* FONTS */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/") format("woff2"),
    url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"),
    url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"),
    url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}



/* GLOBAL STYLES */
html {
  height: 100%;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.75;
  background-color: #fff;
  color: var(--text-color);
}

img {
  max-width: 100%;
  height: auto;
}

*:focus {
  outline: 2px dashed var(--outline-color);
  outline-offset: 3px;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 1440px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
}

/* SITE-HEADER-INTRO-WRAPPER */

.site-header-hero-wrapper {
  background-image: url("../img/site-header-intro-bg.jpg");
}

/* RETINA BG */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
  .site-header-hero-wrapper {
    background-image: url("../img/site-header-intro-bg@2x.jpg");
  }
}

/* SITE-HEADER */
.site-header {
  padding-top: 40px;
  padding-bottom: 40px;
}

.site-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}

.site-header-logo-link {
  display: flex;
  text-decoration: none;
}

.site-header-logo-link:hover{
  opacity: 0.8;
}

.site-header-logo-link:active{
  opacity: 0.6;
}

.site-header-logo-img {
  width: 235px;
  height: 24px;
  object-fit: contain;
}


/* SITENAV */
/* .sitenav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 50px;
} */

.sitenav-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.sitenav-item:not(:last-child) {
  margin-right: 40px;
}

.sitenav-link {
  display: block;
  text-decoration: none;
  font-size: 12px;
  line-height: normal;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--text-color);
}

.sitenav-link:hover {
  color: var(--accent-color-green)
}

.sitenav-link:active {
  opacity: 0.6;
}


.site-content {
  display: flex;
  /* justify-content: space-between;
  align-items: center; */
}

.site-header-left {
  flex: 1;
  max-width: 50%;
  width: 464px;
  margin-left: 150px;
}

.site-header-heading {
  font-size: 64px;
  line-height: 100%;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 24px;
}

.site-header-text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 34px;
}

.site-button {
  display: block;
  padding: 16px 24px;
  font-size: 16px;
  line-height: 100%;
  font-weight: 500;
  border: none;
  border-radius: 100px;
  text-transform: uppercase;
  background-color: #0a775f;
  color: #fff;
}

.site-header-right {
  flex: 1;
  max-width: 50%;
}